<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.temenos.tafj.launcher.BASICLauncherDelegate">
<stringAttribute key="BASIC_CONTEXT" value=""/>
<stringAttribute key="BASIC_PROGRAM" value="/TAFJ-TRAINING/TEST.CODE/FT.VAL.RTN.b"/>
<stringAttribute key="BASIC_PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="BASIC_PROJECT" value="TAFJ-TRAINING"/>
<stringAttribute key="UNIQUE_TARGET" value="/TAFJ-TRAINING/TEST.CODE/FT.VAL.RTN.b"/>
</launchConfiguration>
